.HousingBox {
    width: 65%;
    height: 100%;
    background-color:#F2F2F2 ;
    border-radius: 10px;
}

.HousingBox h2 {
    margin: 4% 0 4% 4%;   
}

.Grid-1 {
    width: 95%;
    height: auto;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    grid-gap: 30px;
}

.BoxModel-1 {
    width: auto;
    height:auto;
    border:solid white 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 7px silver;
}

.BoxModel-1 a {
    display:block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.BoxModel-1:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.BoxBottom-1 {
    width:auto;
    height:90px;
    background-color:white;
    padding-top:1px;
    padding-bottom: 5px;
    padding-left:10px;
    border-radius:0 0 15px 15px;
}

.fa-active {
    color: blue;
}

.fa-inactive {
    color: silver;
}

.Title-1 i {
    font-size: 1em;;
    padding-top:10px;
}

.Title-1 h3 {
    font-size: 1em;
}

.Title-1 p {
    font-size: 0.9em;
    margin-top: -5px;
}

.Img-1 {
    display: block;
    height:110px;
    margin-top:0;
    border-radius: 15px 15px 0 0;
    background-image:url(../images/Img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Img-2 {
    display: block;
    height:110px;
    margin-top:0;
    border-radius: 15px 15px 0 0;
    background-image:url(../images/Img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Img-3 {
    display: block;
    height:110px;
    margin-top:0;
    border-radius: 15px 15px 0 0;
    background-image:url(../images/Img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Img-4 {
    display: block;
    height:110px;
    margin-top:0;
    border-radius: 15px 15px 0 0;
    background-image:url(../images/Img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Img-5 {
    display: block;
    height:110px;
    margin-top:0;
    border-radius: 15px 15px 0 0;
    background-image:url(../images/Img-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Img-6 {
    display: block;
    height:110px;
    margin-top:0;
    border-radius: 15px 15px 0 0;
    background-image:url(../images/Img-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ViewMore {
    font-size: 2em;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1380px) {

    .HousingBox {
        order: 2;
        width: 100%;
        height: auto;          
    }

    .Grid-1 {
        display: grid;
        width: 95%;
        height: 80%;
        justify-content: center;
        margin-bottom: auto;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr; 
        grid-gap: 30px;
    }
    
    .ViewMore {

        margin-left: 3%;
    }
}

@media screen and (max-width: 1050px) {

    .Grid-1 {
        display: grid;
        width: 80%;
        height: 80%;
        justify-content: center;
        margin-bottom: auto;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-gap: 30px;
    }

    .HousingBox h2 {
        margin-left: 11%;
    }

    .ViewMore {
        margin-left: 11%;
    }
}

@media screen and (max-width: 780px) {

    .HousingBox {
        background-color: white;
    }
}

@media screen and (max-width: 530px){

    .Grid-1 {
        display: grid;
        width: 90%;
        height: 80%;
        justify-content: center;
        margin-bottom: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-gap: 30px;
    }

    .HousingBox h2 {
        margin-left: 6%;
        padding-bottom: 15px;
    }

    .ViewMore {
        margin-left: 6%;
        padding-top: 10px;
    }
}